<!-- wp:template-part {"slug":"header-home","area":"header"} /-->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","right":"var:preset|spacing|50","bottom":"var:preset|spacing|70","left":"var:preset|spacing|50"}}}} -->
<div class="wp-block-group alignwide" style="padding-top:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--50)"><!-- wp:list -->
<ul><!-- wp:list-item -->
<li></li>
<!-- /wp:list-item --></ul>
<!-- /wp:list -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70","left":"var:preset|spacing|50","right":"var:preset|spacing|50"},"blockGap":"var:preset|spacing|70"}},"backgroundColor":"tertiary","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-tertiary-background-color has-background" style="padding-top:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"center","style":{"typography":{"textTransform":"none"}}} -->
<h2 class="wp-block-heading has-text-align-center" style="text-transform:none">APA ITU </h2>
<!-- /wp:heading -->

<!-- wp:heading {"textAlign":"center","style":{"typography":{"textTransform":"none"}}} -->
<h2 class="wp-block-heading has-text-align-center" style="text-transform:none">DIGITAL MARKETING?</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"border":{"color":"#6d6c8354","style":"solid","width":"1px"},"spacing":{"padding":{"top":"var:preset|spacing|50","right":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50"}},"dimensions":{"minHeight":"100%"}},"backgroundColor":"background","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-border-color has-background-background-color has-background" style="border-color:#6d6c8354;border-style:solid;border-width:1px;min-height:100%;padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:paragraph {"textColor":"primary"} -->
<p class="has-primary-color has-text-color">★★★★★</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Digital marketing adalah serangkaian strategi pemasaran yang menggunakan berbagai saluran digital seperti situs web, media sosial, email, mesin pencari, dan iklan online untuk mencapai target audiens.</p>
<!-- /wp:paragraph -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"border":{"color":"#6d6c8354","style":"solid","width":"1px"},"spacing":{"padding":{"top":"var:preset|spacing|50","right":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50"}},"dimensions":{"minHeight":"100%"}},"backgroundColor":"background","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-border-color has-background-background-color has-background" style="border-color:#6d6c8354;border-style:solid;border-width:1px;min-height:100%;padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:paragraph {"textColor":"primary"} -->
<p class="has-primary-color has-text-color">★★★★★</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Ini adalah pendekatan yang fleksibel dan dapat disesuaikan yang memungkinkan bisnis untuk berinteraksi secara langsung dengan pelanggan mereka di berbagai platform.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70","right":"var:preset|spacing|60","left":"var:preset|spacing|60"},"margin":{"top":"0px","bottom":"0px"},"blockGap":"0"}},"backgroundColor":"background","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignfull has-background-background-color has-background" style="margin-top:0px;margin-bottom:0px;padding-top:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--60)"><!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"width":"33.34%","style":{"spacing":{"blockGap":"16px"}}} -->
<div class="wp-block-column" style="flex-basis:33.34%"><!-- wp:heading {"level":3,"fontSize":"large"} -->
<h3 class="wp-block-heading has-large-font-size"></h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","fontSize":"small"} -->
<p class="has-text-align-center has-small-font-size">1.Membangun strategi pemasaran digital yang efektif.</p>
<!-- /wp:paragraph -->

<!-- wp:image {"id":27,"width":"369px","height":"auto","sizeSlug":"large","linkDestination":"custom"} -->
<figure class="wp-block-image size-large is-resized"><img src="https://tkjutter.files.wordpress.com/2023/11/whatsapp-image-2023-11-07-at-16.00.04_ecc7fed0-1.jpg?w=626" alt="" class="wp-image-27" style="width:369px;height:auto" /></figure>
<!-- /wp:image --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.34%","style":{"spacing":{"blockGap":"16px"}}} -->
<div class="wp-block-column" style="flex-basis:33.34%"><!-- wp:heading {"textAlign":"center","level":3,"fontSize":"large"} -->
<h3 class="wp-block-heading has-text-align-center has-large-font-size">Strategi Pemasaran </h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","fontSize":"small"} -->
<p class="has-text-align-center has-small-font-size">2. Penetapan tujuan dan target audiens.</p>
<!-- /wp:paragraph -->

<!-- wp:image {"id":29,"sizeSlug":"large","linkDestination":"custom"} -->
<figure class="wp-block-image size-large"><img src="https://tkjutter.files.wordpress.com/2023/11/whatsapp-image-2023-11-07-at-16.17.29_d44f9e3e.jpg?w=1024" alt="" class="wp-image-29" /></figure>
<!-- /wp:image --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.33%","style":{"spacing":{"blockGap":"16px"}}} -->
<div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:heading {"level":3,"fontSize":"large"} -->
<h3 class="wp-block-heading has-large-font-size"></h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","fontSize":"small"} -->
<p class="has-text-align-center has-small-font-size">3. Pengukuran kesuksesan dalam digital marketing.</p>
<!-- /wp:paragraph -->

<!-- wp:image {"id":28,"sizeSlug":"full","linkDestination":"custom"} -->
<figure class="wp-block-image size-full"><img src="https://tkjutter.files.wordpress.com/2023/11/whatsapp-image-2023-11-07-at-16.02.44_66633fbb-1.jpg" alt="" class="wp-image-28" /></figure>
<!-- /wp:image --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80","right":"var:preset|spacing|60","left":"var:preset|spacing|60"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="margin-top:0px;margin-bottom:0px;padding-top:var(--wp--preset--spacing--80);padding-right:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--60)"><!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|50","left":"var:preset|spacing|80"}}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:heading {"style":{"spacing":{"margin":{"top":"0px"}}}} -->
<h2 class="wp-block-heading" style="margin-top:0px">Platform</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"left"} -->
<p class="has-text-align-left">Pemasaran melalui platform media sosial adalah salah satu aspek penting dari digital marketing. Ini memungkinkan bisnis untuk terhubung dengan audiensnya secara langsung, membangun merek, dan mempromosikan produk atau layanan. Berikut adalah beberapa topik penting dalam pemasaran melalui&nbsp;media&nbsp;sosial.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:image {"id":43,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://tkjutter.files.wordpress.com/2023/11/whatsapp_image_2023-11-07_at_16.09.34_3a398c3f-removebg-preview.png?w=510" alt="" class="wp-image-43" /></figure>
<!-- /wp:image --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80","right":"var:preset|spacing|60","left":"var:preset|spacing|60"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="margin-top:0px;margin-bottom:0px;padding-top:var(--wp--preset--spacing--80);padding-right:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--60)"><!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|50","left":"var:preset|spacing|80"}}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:image {"id":42,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://tkjutter.files.wordpress.com/2023/11/komunitas-removebg-preview.png?w=514" alt="" class="wp-image-42" /></figure>
<!-- /wp:image --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:heading {"style":{"spacing":{"margin":{"top":"0px"}}}} -->
<h2 class="wp-block-heading" style="margin-top:0px">Komunitas</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Membangun komunitas online adalah proses menciptakan dan memelihara lingkungan virtual di mana anggota dapat terhubung, berinteraksi, berbagi, dan mendukung satu sama lain dalam berbagai topik, minat, atau tujuan yang bersama. Komunitas online dapat membentuk di berbagai platform, termasuk media sosial, forum, situs web khusus, grup WhatsApp, dan&nbsp;banyak&nbsp;lagi.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"border":{"radius":"57px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="border-radius:57px"><!-- wp:group {"align":"wide","style":{"border":{"radius":"30px"},"spacing":{"padding":{"top":"3.38rem","right":"5vw","bottom":"3.38rem","left":"5vw"}}},"backgroundColor":"primary","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide has-primary-background-color has-background" style="border-radius:30px;padding-top:3.38rem;padding-right:5vw;padding-bottom:3.38rem;padding-left:5vw"><!-- wp:columns {"align":"wide","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"blockGap":{"top":"var:preset|spacing|70","left":"var:preset|spacing|70"}}}} -->
<div class="wp-block-columns alignwide" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:image {"align":"wide","id":40,"sizeSlug":"full","linkDestination":"none","style":{"border":{"radius":"0px"}}} -->
<figure class="wp-block-image alignwide size-full has-custom-border"><img src="https://tkjutter.files.wordpress.com/2023/11/salinan_dari_krem_merah_muda_berwarna_estetik_presentasi_43-removebg-preview.png" alt="" class="wp-image-40" style="border-radius:0px" /></figure>
<!-- /wp:image --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:heading {"level":3,"textColor":"background"} -->
<h3 class="wp-block-heading has-background-color has-text-color">SUPPORTS</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"textColor":"background"} -->
<p class="has-background-color has-text-color">Teman adalah penopang di saat kita lemah. Dalam pertemanan, kita belajar menghargai perbedaan dan bersama-sama merayakan kesamaan.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"></div>
<!-- /wp:buttons --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"5.06rem","right":"5vw","bottom":"5.06rem","left":"5vw"},"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="padding-top:5.06rem;padding-right:5vw;padding-bottom:5.06rem;padding-left:5vw"></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->